<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>college placement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MoveStudentsToPlacedServlet</display-name>
    <servlet-name>MoveStudentsToPlacedServlet</servlet-name>
    <servlet-class>MoveStudentsToPlacedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoveStudentsToPlacedServlet</servlet-name>
    <url-pattern>/MoveStudentsToPlacedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MoveStudentsToStudentsServlet</display-name>
    <servlet-name>MoveStudentsToStudentsServlet</servlet-name>
    <servlet-class>MoveStudentsToStudentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoveStudentsToStudentsServlet</servlet-name>
    <url-pattern>/MoveStudentsToStudentsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Student_counter</display-name>
    <servlet-name>Student_counter</servlet-name>
    <servlet-class>Student_counter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Student_counter</servlet-name>
    <url-pattern>/Student_counter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompanyUpdateServlet</display-name>
    <servlet-name>CompanyUpdateServlet</servlet-name>
    <servlet-class>CompanyUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompanyUpdateServlet</servlet-name>
    <url-pattern>/CompanyUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompanyDetailsServlet</display-name>
    <servlet-name>CompanyDetailsServlet</servlet-name>
    <servlet-class>CompanyDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompanyDetailsServlet</servlet-name>
    <url-pattern>/CompanyDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStudentsServlet</display-name>
    <servlet-name>DeleteStudentsServlet</servlet-name>
    <servlet-class>DeleteStudentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudentsServlet</servlet-name>
    <url-pattern>/DeleteStudentsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePlacedStudServlet</display-name>
    <servlet-name>DeletePlacedStudServlet</servlet-name>
    <servlet-class>DeletePlacedStudServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePlacedStudServlet</servlet-name>
    <url-pattern>/DeletePlacedStudServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCompany</display-name>
    <servlet-name>DeleteCompany</servlet-name>
    <servlet-class>DeleteCompany</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCompany</servlet-name>
    <url-pattern>/DeleteCompany</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordServlet</display-name>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/ChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentLoginServlet</display-name>
    <servlet-name>StudentLoginServlet</servlet-name>
    <servlet-class>StudentLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentLoginServlet</servlet-name>
    <url-pattern>/StudentLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertInfoServlet</display-name>
    <servlet-name>InsertInfoServlet</servlet-name>
    <servlet-class>InsertInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertInfoServlet</servlet-name>
    <url-pattern>/InsertInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadInfoServlet</display-name>
    <servlet-name>UploadInfoServlet</servlet-name>
    <servlet-class>UploadInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadInfoServlet</servlet-name>
    <url-pattern>/UploadInfoServlet</url-pattern>
  </servlet-mapping>
</web-app>